
/* Your CSS Code here. */
.holder {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	font-weight: bold;
}

.box1{
	order: 2;
	width: 100px;
	height: 100px;
	border: 1px solid red;
	background-color: red;

}

.box2{
	order: 3;
	width: 100px;
	height: 100px;
	border: 1px solid blue;
	background-color: blue;
}

.box3{
	order: 1;
	width: 100px;
	height: 100px;
	border: 1px solid green;
	background-color: green;
}